{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\menu.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Menu</title>
    
</head>
<body>
    <div class="main-container">
        <nav>
            <div class="content">
                <h2>LOGO</h2>
                <div class="links">
                    <a href="{% url 'home' %}">Home</a>
                    {% if Li is True %}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                    <a href="{% url 'watchlist' %}">Watchlist</a>
                    <a href="">{{name}}</a>
                </div>
                <i class="material-icons" onclick=menu()>menu</i>
            </div>
            <div class="dropdown">
                <a href="{% url 'home' %}">Home</a>
                    {% if Li is True %}
                    <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                    <a href="{% url 'watchlist' %}">Watchlist</a>
                    <a href="">{{name}}</a>
            </div>
        </nav>
        <div class="section1">
            <div class="sub-section1">
                <div class="s1"><a  class="update-card" data-type="movie" data-action="choice">Movies</a></div>
                <div class="s2"><a  class="update-card" data-type="series" data-action="choice">Series</a></div>
            </div>
        </div>
        <div class="section2">
            <div class="sub-section2">
                {% for x in sections %}
                    <div><a href="{% url 'display' x.name %}">{{x.name}}</a></div>
                {% endfor %}
            </div>    
        </div>

    </div>
</body>
<script>
    var dropdown = document.querySelector("nav .dropdown");
    var button = document.querySelector("nav .menu");

    function menu()
    {
        if (dropdown.style.display === "grid") 
            {
                dropdown.style.display = "none";
            } 
        else 
            {
                dropdown.style.display = "grid";
            }
    }
</script>
<script>
    var user = "{{request.user}}"
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    var btn = document.getElementsByClassName('update-card')
    for(var i=0 ; i< btn.length ; i++){
        btn[i].addEventListener('click',function(){
            var card_name = this.dataset.type
            var action = this.dataset.action
            console.log("cardname : ",card_name," action : ",action)
            console.log("user : ",user)
            choice_(card_name,action)
        })

    }
    function choice_(card_name,action){
        console.log("sending data to user's watchlist")
        var url = /*"/"+card_name+*/
        '/choice_/'

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			}, 
			body:JSON.stringify({'card_name':card_name, 'action':action})
        })
        
		.then((response) => {
		   return response.json();
		})
		.then((data) => {
            console.log("data :",data)
		});

    }
</script>
</html>
